<%- model_class = ObjectiveQ -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:organism_species) %>:</strong></dt>
  <dd><%= @objective_q.organism_species %></dd>
  <dt><strong><%= model_class.human_attribute_name(:specimen_typea) %>:</strong></dt>
  <dd><%= @objective_q.specimen_typea %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              objective_qs_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_objective_q_path(@objective_q), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              objective_q_path(@objective_q),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
