<%= f.fields_for :parent do | parent | %>

  <div class="form-group">
    <%= parent.label :organism_species, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= parent.text_field :organism_species, :class => 'form-control' %>
    </div>
    <%=parent.error_span(:organism_species) %>
  </div>
  <div class="form-group">
    <%= parent.label :specimen_typea, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= parent.select :specimen_typea, ObjectiveB::specimen_typea_values, {include_blank: true}, {data: {placeholder: "select specimen type"}, :class => 'select-control form-control'} %>
    </div>
    <%=parent.error_span(:specimen_typea) %>
  </div>

<% end %>
