<%= form_for @objective_b, :html => { :class => "form-horizontal objective_b" } do |f| %>

  <% if @objective_b.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@objective_b.errors.count, "error") %> prohibited this objective_b from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @objective_b.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :jmi_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :jmi_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:jmi_number) %>
  </div>
  <div class="form-group">
    <%= f.label :specimen_typea, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :specimen_typea, :class => 'form-control' %>
    </div>
    <%=f.error_span(:specimen_typea) %>
  </div>
  <div class="form-group">
    <%= f.label :bacteria_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :bacteria_type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:bacteria_type) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                objective_bs_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
