<%- model_class = ObjectiveB -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:jmi_number) %>:</strong></dt>
  <dd><%= @objective_b.jmi_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:specimen_typea) %>:</strong></dt>
  <dd><%= @objective_b.specimen_typea %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bacteria_type) %>:</strong></dt>
  <dd><%= @objective_b.bacteria_type %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              objective_bs_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_objective_b_path(@objective_b), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              objective_b_path(@objective_b),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
