<%= form_for @shipment, :html => { :class => "form-horizontal shipment", :remote => true } do |f| %>

  <% if @shipment.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @shipment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group active" id="objective_select">
    <%= f.label "Objective", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= select("objective", "name", @objectives, {include_blank: ''}, {data: {placeholder: "Please select an Objective"}} ) %>
    </div>
  </div>

  <div class="form-group active">
    <%= f.label :target_isolates, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :target_isolates, :class => 'form-control' %>
    </div>
    <%=f.error_span(:target_isolates) %>
  </div>

  <div class="form-group active">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Start Data Entry', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                shipments_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<div id="objective_form">
    
</div>
