<%- model_class = ObjectiveA -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:jmi_number) %></th>
      <th><%= model_class.human_attribute_name(:organism_species) %></th>
      <th><%= model_class.human_attribute_name(:admission_date) %></th>
      <th><%= model_class.human_attribute_name(:spec_type) %></th>
      <th><%= model_class.human_attribute_name(:source_of_bsia) %></th>
      <th><%= model_class.human_attribute_name(:primary_diagnosis) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @objective_as.each do |objective_a| %>
      <tr>
        <td><%= link_to objective_a.id, objective_a_path(objective_a) %></td>
        <td><%= objective_a.jmi_number %></td>
        <td><%= objective_a.organism_species %></td>
        <td><%= objective_a.admission_date %></td>
        <td><%= objective_a.spec_type %></td>
        <td><%= objective_a.source_of_bsia %></td>
        <td><%= objective_a.primary_diagnosis %></td>
        <td><%=l objective_a.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_objective_a_path(objective_a), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      objective_a_path(objective_a),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_objective_a_path,
            :class => 'btn btn-primary' %>
